$ratio: 1.618
$base-em: 1em

body
  font-family: "faricy-new-web", Helvetica, Arial, sans-serif
  font-size: 1.0em
  line-height: 1.5

h1
  font-size: ms(2.5, $base-em, $ratio)
  line-height: 1.1

h2
  font-size: ms(1.5, $base-em, $ratio)

h3
  font-size: ms(1.25, $base-em, $ratio)

h4
  font-size: ms(1, $base-em, $ratio)
