%a#about

.section.section-about
  .wrapper
    %h2 I create simple solutions to complex problems.

    %p 
      Hello there. I'm Mariusz and I'm an user experience and user interface 
      designer based in Poland. I enjoy simplicity to the level where I decided 
      to make creating simple solution to complex problems my day job.
      In the past, I've been doing
      = link_to "web development", "http://makingwaves.pl", :target => "_blank"
      and 
      = link_to "UI design", "http://lunarlogicpolska.com", :target => "_blank"
      , as well as
      = link_to "lead designing at a startup.", "http://kanbanery.com"
      Right now, I'm consulting for clients big and small.

    %p
      Got a problem to solve?
      = link_to "Let's talk.", "/contact.html"
   
