.teaser
  = partial "components/header"

  .wrapper
    %h1.teaser-claim
      So much more than pretty pictures.

    %h2
      Hello. My name is Mariusz and I'm passionate about designing
      and building digital products.

    %p.teaser-button-holder
      = link_to "Find out more", "#", :class => "teaser-button"

      %span.or
        or

      = link_to "Work with me", "#", :class => "teaser-button"
