#teaser.teaser
  #teaser_overlay.teaser__overlay
  = partial "components/header"

  .wrapper.wow.fadeInUp
    %h1.teaser__claim
      More than pretty pictures.

    %h2
      Design is the process, not the outcome. Let me show you.

    %p.teaser__buttons
      = link_to "#", :class => "teaser__button" do
        %span Find out more

      %span.or
        or

      = link_to "#", :class => "teaser__button" do
        %span Work with me
