#teaser.teaser
  #teaser_overlay.teaser--overlay
  = partial "components/header"

  .wrapper
    %h1.teaser--claim.wow.fadeInUp
      So much more than pretty pictures.

    %h2.wow.fadeInUp{"data-wow-delay" => "0.5s"}
      Hello, my name is Mariusz and I'm passionate about designing & building digital products.

    %p.teaser--button-holder
      = link_to "#", :class => "wow fadeInDown teaser--button", "data-wow-delay" => "1s" do
        %span Find out more

      %span.or.wow.fadeInDown{"data-wow-delay" => "1.5s"}
        or

      = link_to "#", :class => "wow fadeInDown teaser--button", "data-wow-delay" => "2s" do
        %span Work with me
