#teaser.teaser
  #teaser_overlay.teaser__overlay
  = partial "components/header"

  .wrapper.wow.fadeInUp
    %h1.teaser__claim
      So much more than pretty pictures.

    %h2
      Hello, my name is Mariusz and I'm passionate about designing & building digital products.

    %p.teaser__buttons
      = link_to "#", :class => "teaser__button" do
        %span Find out more

      %span.or
        or

      = link_to "#", :class => "teaser__button" do
        %span Work with me
