%a#work

.section.section-work
  .wrapper
    %h2 I've been around.

    %p
      I started out as a freelance web designer and developer back
      in high school. My first "real" job was development, too.
      Over the years I slowly but surely shifted my life back to the
      design. Now, I design and build things for humans and I enjoy
      the hell out of it.

    #behance
