.section--about
  text-align: center

  h2
    padding-bottom: 1em
    margin-bottom: 1em
    border-bottom: 1px solid #ccc

  p
    line-height: 1.65

  .button--holder
    font-size: .9em
    padding-top: 2em
