@import compass/css3/border-radius

$button-text-color: #fff
$button-bg: #61ba6c

@mixin button($bg-color: $button-bg, $text-color: $button-text-color)
  padding: .75em 1.5em
  background: $bg-color
  color: $text-color
  border: none
  letter-spacing: -.05em
  font-family: $trend-sans
  font-weight: bold
  text-shadow: 0 1px 0 rgba(0,0,0,.25)
  +border-radius(5em)
  +transition(all .25s $easing) 

  &:hover
    background: lighten($bg-color, 5%)


.button
  +button
