.header-wrapper
  padding-bottom: 1em
  border-bottom: 1px solid rgba(255, 255, 255, .25)

.logo
  width: 48px
  height: 48px
  margin: 0
  font-size: 1em
  padding-top: 1em

.logo-symbol
  display: block
  width: 48px
  height: 48px
  text-indent: -999em

  +image-2x("logo.png", "logo@2x.png", 48px, 48px)
