$teaser-text-color: #fff
$teaser-button-bg: #61BA6C

.teaser
  background: image-url("face.jpg") -150px top no-repeat
  background-size: auto 100%
  background-attachment: fixed
  color: $teaser-text-color
  text-align: center
  height: 40em

  @media only screen and (min-width: 40em)
    height: 40em
    background-position: -150px top
    background-size: 150% auto

  @media only screen and (min-width: 64em)
    height: 50em
    background-size: 100% auto
    background-position: center top

  h2
    font-weight: normal
    font-size: ms(1)
    line-height: 1.25
    font-family: $faricy
    letter-spacing: 0
    text-transform: none

    @media only screen and (min-width: 40em)
      font-size: ms(1.5)

.teaser-claim
  text-transform: uppercase
  letter-spacing: .025em
  text-align: center
  text-shadow: 0 1px 0 $shadow-color
  font-size: ms(1.5)
  margin-top: 1.5em
  letter-spacing: -.05em

  @media only screen and (min-width: 40em)
    margin: 0 auto
    font-size: ms(2.5)
    margin-top: 2.5em

  @media only screen and (min-width: 64em)
    margin-top: 3.5em

.teaser-claim, .teaser h2
  text-shadow: 0 1px 0 $shadow-color

  @media only screen and (min-width: 64em)
    +span-columns(10)
    +prefix(1)
    +suffix(1)

.teaser-button-holder
  padding-top: 2em
  clear: left

  .or
    display: block
    padding: 2em 0

    @media only screen and (min-width: 40em)
      display: inline
      padding: 0 2em

.teaser-button
  @extend .button

  color: $teaser-text-color
  background: transparent
  border: 1px solid $teaser-text-color
  font-size: 1.25em

  &:hover
    background: $teaser-button-bg
    border-color: $teaser-button-bg
